@import '@/styles/index';

.img {
  position: relative;
  z-index: 2;
  &::after {
    content: '';
    height: 0;
    position: absolute;
    background-color: $lightBlueColor;
  }
  img {
    position: relative;
    display: block;
    z-index: 2;
  }
}
.text {
  position: relative;
  color: $blackColor;
  padding:0 100px 0 50px;
  margin-left: 330px;
  max-width: 800px;
  &::after {
    content: '';
    height: 0;
    position: absolute;
    width: 100%;
    background-color: $lightBlueColor;
  }
  .year {
    position: relative;
    z-index: 2;
    font-weight: 500;
    font-size: 24px;
    line-height: 2;
    &::after {
      content: '';
      display: block;
      width: 50px;
      height: 3px;
      margin: 0 0 15px;
      background-color: $darkBlueColor;
    }
  }
  .content {
    position: relative;
    z-index: 2;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
  }
}
.type1 {
  .text {
    padding-top: 220px;
    margin-top: -150px;
    &::after {
      top: 0;
      left: 0;
      height: 200px;
    }
  }
}
.type2 {
  margin-top: -25px;
  .textBox {
    position: absolute;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .text {
    padding-top: 20px;
    background-color: $lightBlueColor;
    &:first-child {
      padding-top: 30px;
    }
    &:last-child {
      padding-bottom: 30px;
    }
  }
}
.type3 {
  margin-top: -10px;
  .text {
    margin-bottom: 20px;
  }
  .img {
    padding: 60px 0 0 (1280px - 951px);
    &::after {
      left: 0;
      top: 0;
      right: 100px;
      height: 200px;
    }
  }
}

@include xs {
  .img {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 3;
      object-fit: cover;
    }
  }
  .text {
    padding: 0 25px;
    margin-left: 0;
    .year {
      &::after {
        height: 2px;
      }
    }
  }
  .type1 {
    .img {
      padding-top: po(255);
      img {
        transform: translateX(-20px);
        object-position: right;
      }
      &::after {
        width: 100%;
        height: 100%;
        top: 0;
        transform: translate3d(20px, 30%, 0);
      }
    }
    .text {
      padding-top: po(300);
      margin-top: po(-200);
      &::after {
        height: 0;
      }
    }
  }
  .type2 {
    margin-top: 0;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 85%;
      bottom: 0;
      left: 0;
      background-color: $lightBlueColor;
    }
    .img {
      padding-top: po(500);
      z-index: 5;
    }
    .textBox {
      position: relative;
      top: 0;
      transform: translateY(0);
    }
    .text {
      padding-top: 20px;
    }
  }
  .type3 {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    .img {
      padding-top: po(254);
      margin-bottom: po(100);
      img {
        transform: translateX(20px);
      }
      &::after {
        width: 100%;
        height: 100%;
        right: auto;
        transform: translate3d(-20px, 30%, 0);
        left: 0;
        top: 0;
      }
    }
  }
}