i.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-image: url(./images/icon_copy.png);
  &.icon_mail {
    background-position: 0 0;
  }
  &.icon_address {
    background-position: 0 -20px;
  }
  &.icon_phone {
    background-position: 0 -40px;
  }
  &.icon_close {
    position: relative;
    background: none;
    margin-right: 0;
    &::before, &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: currentColor;
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 45deg);
    }
    &::before {
      width: 1px;
      height: 100%;
    }
    &::after {
      width: 100%;
      height: 1px;
    }
    &.turn_down {
      transform: rotateZ(90deg);
    }
  }
  &.icon_right {
    background: none;
    position: relative;
    margin-right: 0;
    transform-origin: center center;
    transition: transform .3s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      width: 1em;
      height: 1em;
      top: 50%;
      left: 50%;
      border-right: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg);
    }
    &.turn_down {
      transform: rotateZ(90deg);
    }
  }
  &.icon_right_double {
    background: none;
    position: relative;
    margin-right: 0;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 1em;
      height: 1em;
      top: 50%;
      border-right: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg);
    }
    &::before {
      left: 30%;
    }
    &::after {
      left: 50%;
    }
    &.turn_down {
      transform: rotateZ(90deg);
    }
  }

}