i.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-image: url(./images/icon_copy.png);
  &.icon_mail {
    background-position: 0 0;
  }
  &.icon_address {
    background-position: 0 -20px;
  }
  &.icon_phone {
    background-position: 0 -40px;
  }
  &.icon_right {
    background: none;
    position: relative;
    margin-right: 0;
    transform-origin: center center;
    transition: all .3s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      width: 1em;
      height: 1em;
      top: 50%;
      border-right: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      transform: rotate(-45deg) translateY(-50%);
    }
    &::before {
      left: 0;
    }
    &.turn_down {
      transform: rotateZ(90deg);
    }
  }
  &.icon_right_double {
    background: none;
    position: relative;
    margin-right: 0;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 1em;
      height: 1em;
      top: 50%;
      border-right: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      transform: rotate(-45deg) translateY(-50%);
    }
    &::before {
      left: 0;
    }
    &::after {
      left: .8em;
    }
  }

}