$darkBlueColor: #306286;
$lightBlueColor: #E8F1F7;
$middleBlueColor: #D8E3EB;
$blueColor: #a7d2f0;

$greyColor: #5F5F5F;
$darkGreyColor: #363636;
$lightGreyColor: #b3b3b3;

$whiteColor: #ffffff;
$darkWhiteColor: #FAFAFA;
$blackColor: #000;
$lightBlackColor: #2a2a2a;

@function po($width) {
  @return calc($width / 750) * 100%;
}