@import '../../styles/media-queries';

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0;
  .name {
    font-weight: bold;
    font-size: 20px;
  }
  .more {
    color: #00b;
    &::before {
      content: '...';
    }
    &::after {
      content: '了解更多';
    }
  }
  &.border {
    border-bottom: 2px solid #000;
  }
}
@include xs {
  .title {
    .more {
      &::after {
        content: 'More';
      }
    }
  }
}