@import '@/styles/index';

.card {
  position: relative;
  padding: 40px;
  font-size: 26px;
  font-weight: 300;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border: 1px solid transparent;
  .content {
    display: block;
    overflow: hidden;
    line-height: 1.2;
    &:hover {
      text-decoration: underline;
    }
  }
  &.mini .content{
    height: 63px;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
  }
  .type {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .time {
    margin-top: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &:hover {
    background-color: $whiteColor!important;
    color: $darkBlueColor!important;
    border-color: $darkBlueColor;
  }
  .icon_right {
    display: none;
  }

}
.image {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  padding-bottom: 15px;
  color: $lightBlackColor;
  a:hover {
    text-decoration: underline;
  }
  .imgLink {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    margin-bottom: 10px;
    overflow: hidden;
    &.imgBorder {
      border: 1px solid $lightGreyColor;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 50%;
      display: block;
      box-sizing: border-box;
      margin-bottom: 20px;
      transform: translateY(-50%);
      transition: all 1s ease-out;
    }
    &:hover {
      img {
        transform: translateY(-50%) scale(1.1);
      }
    }
  }
  .video {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: 30px;
    video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;

    }
  }
  .title {
    font-weight: 500;
    margin-bottom: 15px;
  }
}
.text {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  padding-bottom: 15px;
  color: $lightBlackColor;
  border-bottom: 1px solid $lightGreyColor;
  a:hover {
    text-decoration: underline;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    font-weight: 500;
    span {
      font-size: 16px;
      font-weight: 300;
    }
  }
}
.man {
  display: flex;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  .img {
    margin-right: 30px;
  }
  img {
    width: 200px;
    height: 265px;
    box-sizing: border-box;
  }
  .title {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      width: 25px;
      height: 2px;
      background-color: $darkBlueColor;
    }
  }
  .name {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 5px;
  }
}
@include xs {
  .card {
    padding: 25px;
    font-size: 18px;
    .type {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .time {
      margin-top: 20px;
      font-size: 14px;
    }
    &.mini {
      flex-direction: row;
      padding: 0 5px 0 20px;
      height: 50px;
      text-wrap: nowrap;
      white-space: nowrap;
      line-height: 50px;
      align-items: center;
      &::before {
        content: attr(data-tips);
      }
      .icon_right {
        flex-shrink: 0;
        display: block;
        margin-left: 5px;
      }
      a {
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .time, .type {
        display: none;
      }
    }
  }
  .image {
    img {
      margin-bottom: 10px;
    }
    .title {
      margin-bottom: 5px;
    }
    p {
      padding: 0;
    }
  }
  .text {
    font-size: 18px;
    .title {
      span {
        font-size: 16px;
      }
    }
  }
  .man {
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid $lightGreyColor;
    .img {
      position: relative;
      width: po(200);
      height: 0;
      padding-top: po(265);
      flex-shrink: 0;
      margin-right: 15px;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }
    }
    .title {
      margin-bottom: 15px;
      &::after {
        width: 17.7%;
      }
    }
    .name {
      font-size: 20px;
    }
  }
}