@import '../../styles/media-queries';
@import '../../styles/icon';
@import '../../styles/variables';

.news {
  position: relative;
  padding: 40px;
  font-size: 26px;
  font-weight: 300;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  a {
    display: block;
    flex-grow: 1;
    &:hover {
      text-decoration: underline;
    }
  }
  .type {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .time {
    margin-top: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &:hover {
    background-color: $whiteColor!important;
    color: $darkBlueColor!important;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      left: 0;
      top: 0;
      pointer-events: none;
      border: 1px solid $darkBlueColor;
    }
  }
}
.img_text {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  padding-bottom: 15px;
  color: $lightBlackColor;
  a:hover {
    text-decoration: underline;
  }
  img {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  p {
    padding: 0 40px;
  }
  .title {
    font-weight: 500;
    margin-bottom: 15px;
  }
}
.text {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  padding-bottom: 15px;
  color: $lightBlackColor;
  border-bottom: 1px solid $lightGreyColor;
  a:hover {
    text-decoration: underline;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    a {
      font-weight: 500;
    }
    span {
      font-size: 16px;
    }
  }
}
@include xs {
  .news {
    padding: 25px;
    font-size: 18px;
    .type {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .time {
      margin-top: 20px;
      font-size: 14px;
    }
  }
}