@import '@/styles/index';

.news {
  position: relative;
  padding: 40px;
  font-size: 26px;
  font-weight: 300;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  a {
    display: block;
    flex-grow: 1;
    &:hover {
      text-decoration: underline;
    }
  }
  .type {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .time {
    margin-top: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &:hover {
    background-color: $whiteColor!important;
    color: $darkBlueColor!important;
    border-color: $darkBlueColor;
  }
  .icon_right {
    display: none;
  }
}
.img_text {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  padding-bottom: 15px;
  color: $lightBlackColor;
  a:hover {
    text-decoration: underline;
  }
  img {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  p {
    padding: 0 40px;
  }
  .title {
    font-weight: 500;
    margin-bottom: 15px;
  }
}
.text {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  padding-bottom: 15px;
  color: $lightBlackColor;
  border-bottom: 1px solid $lightGreyColor;
  a:hover {
    text-decoration: underline;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    a {
      font-weight: 500;
    }
    span {
      font-size: 16px;
    }
  }
}
@include xs {
  .news {
    padding: 25px;
    font-size: 18px;
    .type {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .time {
      margin-top: 20px;
      font-size: 14px;
    }
    &.mini {
      flex-direction: row;
      padding: 0 5px 0 20px;
      height: 50px;
      text-wrap: nowrap;
      white-space: nowrap;
      line-height: 50px;
      align-items: center;
      &::before {
        content: attr(data-tips);
      }
      a {
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .time, .type {
        display: none;
      }
      .icon_right {
        flex-shrink: 0;
        display: block;
        margin-left: 5px;
      }
    }
  }
  .img_text {
    img {
      margin-bottom: 10px;
    }
    .title {
      margin-bottom: 5px;
    }
    p {
      padding: 0;
    }
  }
}