@import '@/styles/index';
@import '@/styles/wrap';

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  text-indent: 2em;
}
.flex_2 {
  &.border > * {
    border-bottom: 1px solid $borderGreyColor;
  }
}
.info {
  margin-bottom: 30px;
}

@include xs {
  .text {
    font-size: 14px;
  }
  .info {
    margin-bottom: 10px;
  }
  .box {
    border-top: none;
    padding-top: 0;
  }
}