@import '@/styles/index';

.text {
  font-size: 20px;
  font-weight: 300;
  text-indent: 2em;
}
.typical {
  align-items: center;
}
.info {
  margin-bottom: 30px;
}
.flex_2 > * {
  width: 48%;
}

@include xs {
  .text {
    font-size: 14px;
  }
  .info {
    margin-bottom: 10px;
  }
  .box {
    border-top: none;
    padding-top: 0;
  }
}