@import '../../styles/media-queries';
@import '../../styles/variables';
@import '../../styles/icon';

.wrap {
  height: 100px;
  position: relative;
  z-index: 9;
}
.nav {
  position: relative;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.05);
  .main {
    margin: 0 auto;
    height: 100px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .logo {
    padding:0 0 20px;
    img {
      width: 178px;
      height: 60px;
    }
  }
  .list {
    font-size: 14px;
    .item {
      position: relative;
      display: inline-flex;
      align-items: center;
      line-height: 20px;
      height: 20px;
      padding: 10px 20px 30px;
      font-weight: 500;
      color: $blackColor;
      &::after {
        content: '';
        position: absolute;
        width: calc(100% - 67px);
        height: 5px;
        bottom: 0;
        left: 0;
        right: 27px;
        margin: auto;
        transform: scaleX(0);
        background-color: $darkBlueColor;
        transition: all 0.3s ease-in-out;
      }
      &.active {
        color: $darkBlueColor;
      }
      &.border::after {
        transform: scaleX(1);
      }
      span {
        margin-right: 7px;
      }
    }
    .sub{
      position: absolute;
      width: 80px;
      display: none;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #000;
      &.active {
        display: block;
      }
      a {
        display: block;
      }
    }
  }
}
.subNav {
  width: 100%;
  position: absolute;
  color: $darkBlueColor;
  background-color: #fafafa;
  bottom: 0;
  left: 0;
  animation: fadeDown ease-out 300ms forwards;
  .main {
    margin: 0 auto;
    max-width: 1280px;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
  }
  .title {
    font-size: 30px;
    line-height: 1;
    font-weight: 300;
  }
  .sub {
    width: 390px;
    margin-right: 300px;
    font-size: 12px;
    line-height: 300;
    line-height: 30px;
    p {
      border-bottom: 1px solid $lightGreyColor;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &.hideSubNav {
    animation: fadeUp ease-out 300ms forwards;
  }
  @keyframes fadeDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
  @keyframes fadeUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
@include xs {
  .nav {
    height: 0;
    padding-top: po(120);
    .nav_button {
      display: block;
      position: absolute;
      width: po(68);
      height: 0;
      padding-top: po(48);
      top: 50%;
      right: po(36);
      transform: translateY(-50%);
      border-top: 2px solid $darkBlueColor;
      border-bottom: 2px solid $darkBlueColor;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        top: 50%;
        transform: translateY(-1px);
        border-bottom: 2px solid $darkBlueColor;
      }
    }
    .logo {
      position: absolute;
      left: po(35);
      top: 16.7%;
      width: po(215);
      height: 0;
      padding: po(72) 0 0;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    .list {
      position: absolute;
      width: 40%;
      background-color: #fff;
      right: 0;
      top: 0;
      transition: all 0.3s ease-in-out;
      transform: translateX(100%);
      &.showNav {
        transform: translateX(0);
      }
      .sub {
        position: initial;
        display: block;
        border: none;
        padding-left: 20px;
      }
    }
  }
}