@import '@/styles/index';

.wrap {
  position: relative;
  padding: 90px 0 70px;
  background-color: $darkGreyColor;
  color: $whiteColor;
  font-size: 14px;
  line-height: 32px;
  a:hover {
    font-weight: 500;
  }
  .main {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .list {
    width: 230px;
  }
  .copy {
    width: 100%;
    border-top: 1px solid $greyColor;
    padding-top: 20px;
    margin-top: 40px;
  }
  .logo {
    padding-top: 10px;
    width: 305px;
    img {
      width: 155px;
      height: 82px;
    }
  }
  .list, .contact {
    padding-left: 60px;
    border-left: 1px solid $greyColor;
  }
}

@include xs {
  .wrap {
    text-align: center;
    padding: po(70) 0;
    font-size: 12px;
    line-height: 2;
    .logo, .list{
      display: none;
    }
    .contact {
      padding: 0 10px;
      width: 100%;
      box-sizing: border-box;
      text-align: left;
      border-left: none;
    }
    .copy {
      width: 100%;
      line-height: 20px;
      margin-top: 10px;
      padding-top: 10px;
      span {
        display: block;
      }
    }
  }
}