@import '../../styles/media-queries';
@import '../../styles/icon';

.wrap {
  position: relative;
  background-color: #333;
  color: #bbb;
  padding: 50px 0;
  a, a:link, a:hover, a:active, a::after {
    color: #bbb;
  }
  .main {
    margin: 0 auto;
    max-width: 1000px;
  }
  .content {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .other {
    border-top: 1px solid #bbb;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .links {
    &::before {
      content: '友情链接：';
    }
    a {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid #bbb;
      &:last-child {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
      }
    }
  }
  .logo {
    img {
      height: 40px;
    }
  }
  .code {
    img {
      width: 100px;
    }
  }
  .list, .contact {
    font-size: 12px;
    line-height: 2;
    padding-left: 40px;
    border-left: 1px solid #bbb;
  }
}

@include xs {
  .wrap {
    text-align: center;
    .logo, .list{
      display: none;
    }
    .content {
      flex-direction: column;
    }
    .contact {
      margin: 0 20px;
      padding: 20px;
      text-align: left;
      border-left: none;
      border-top: 1px solid #bbb;
    }
    .other {
      margin: 0 20px;
    }
    .links {
      position: absolute;
      width: 100%;
      left: 0;
      top: 10px;
      line-height: 30px;
      &::before {
        content: '';
      }
    }
    .copy {
      width: 100%;
    }
  }
}