@import '../../styles/media-queries';
@import '../../styles/variables';

.news {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  .title {
    line-height: 2;
    padding-bottom: 20px;
    margin-bottom: 45px;
    border-bottom: 5px solid $darkBlueColor;
    h5 {
      font-size: 30px;
      font-weight: 500;
    }
    .type {
      font-weight: 500;
    }
  }
  .content {
    img {
      width: 100%;
      margin-bottom: 20px;
    }
    p {
      text-indent: 40px;
      margin-bottom: 15px;
    }
  }
  .more {
    margin-top: 40px;
    border-top: 1px solid $lightGreyColor;
    padding-top: 40px;
    .prev, .next {
      padding: 0 40px;
    }
    .next {
      text-align: right;
    }
    .newsCard {
      background-color: $lightBlueColor;
    }
  }
}


@include xs {
  .news {
    .title {
      font-size: 16px;
      border-width: 3px;
      margin-bottom: 30px;
      h5 {
        padding: 10px 0;
        line-height: 1.2;
        font-size: 20px;
      }
    }
    .more {
      margin-top: 20px;
      padding-top: 20px;
      border: none;
      .prev, .next {
        display: none;
      }
      .ss {
        padding: 0 40px 0 20px;
        height: 50px;
        a{
          text-wrap: nowrap;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 50px;
        }
      }
    }
  }
}